.postcard {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.postcard__image {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0;
  height: 282px;
  cursor: pointer;
}

.postcard__remove-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url("../images/trash-icon.svg");
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: url("../images/pointer.svg"), pointer;
  border: none;
  min-width: 18px;
  min-height: 19.3px;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  display: none;
}

.postcard__remove-button:hover {
  opacity: 0.6;
  filter: drop-shadow(4px 4px 1px #000);
}

.postcard__remove-button_visible {
  display: block;
}

.postcard__title-area {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  gap: 8px;
  padding: 25px 15px 24px 21px;
}

.postcard__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.postcard__like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.postcard__like-button {
  background-image: url("../images/heart-icon.svg");
  background-color: transparent;
  border: none;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 21px;
  min-height: 19px;
  cursor: url("../images/pointer.svg"), pointer;
  transition: all 0.2s linear;
}

.postcard__like-button:hover {
  opacity: 0.5;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.postcard__like-button_active {
  background-image: url("../images/heart-icon_stuffed.svg");
}

.postcard__like-counter {
  color: #000;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
}
